body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Besley, serif;
  color: #a58cfc;
  background-color: #00142b;
}

.header {
  text-align: center;
  color: #545fac;
}

.header h1 {
  font-size: 3.25rem;
  font-weight: bold;
  margin: 1rem;
}

.header p {
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.main-content {
    flex: 1; /* ดัน footer ลงล่างสุด */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.instructions {
  text-align: center;
  margin-bottom: 20px;
}

.paraChoose,
.endGame {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.weapon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.25 0;
}

.weapon img {
  width: 10rem;
  height: 8rem;
  object-fit: scale-down;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.score label {
  font-size: 24px;
}

.gameDisplay {
  text-align: center;
  margin: 0.5rem;
}

.choose {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.inputImg {
  width: 10rem;
  height: 8rem;
  object-fit: scale-down;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #a58cfc;
}

.footer p {
  margin: 10px 0 0;
}

.buttonGame {
  border-radius: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  background-color: #545fac;
  color: #fff;
  width: 8rem;

  /* display: flex; */
  /* align-items: center;
    justify-content: center;
    text-align: center; */
}

.buttonGame:hover {
  background-color: #a58cfc;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5rem;
  }

  .header h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .paraChoose,
  .endGame {
    font-size: 1rem;
    margin: 0.25rem 0;
  }
  /* .weapon {
    flex-direction: row;
  }

  .score {
    flex-direction: column;
  } */

  .score label {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .choose {
    flex-direction: row;
  }

  .choose .inputImg {
   
    width: 6rem;
    height: 4rem;
    object-fit:scale-down;
  }

  .weapon img {
    width: 6rem;
    height: 4rem;
   
    object-fit: scale-down;
  }

  
}
