* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ใช้ min-height เพื่อให้ body ครอบคลุมหน้าจอ */
    margin: 0;
    font-family: Besley, serif;
    color: #a58cfc;
    background-color: #00142b;
    align-items: center;
}

.header {
    text-align: center;
    color: #545fac;
    padding: 20px;
}

.head {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.subhead {
    font-size: 24px;
    margin: 10px 0 0;
}

.main-content {
    flex: 1; /* ดัน footer ลงล่างสุด */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.linkGame {
    text-decoration: none;
}

.buttonGame {
    border-radius: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 2rem 3rem;
    background-color: #545fac;
    color: #fff;
    width: 300px;
    margin: 10px 0;
}

.buttonGame:hover {
    background-color: #a58cfc;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #a58cfc;
    background-color: #00142b;
}

.footer p {
    margin: 10px 0 0;
}

@media (max-width: 600px) {
    .main-content {
        padding: 10px;
    }

    .buttonGame {
        width: 100%;
    }
}
